{% extends 'baseizmo.html.twig' %}

{% block content %}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Product Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
        </section>
        <!-- /.Content Header -->

        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Product Detail</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4>{{ product.name }}</h4>
                            <div class="user-block">                                
                                <span class="description">Description: {{ product.description }}</span>
                                <span class="description">Price : {{ product.price }}</span>
                                <span class="description">Make Date : {{ product.makeDate is empty ? "" : product.makeDate|date('Y-m-d') }}</span>
                                <span class="description">Expiry Date : {{ product.expiryDate is empty ? "" : product.expiryDate|date('Y-m-d') }}</span>
                                {% if product.id and  product.image %}
                                    <span class="description">File  : {{ product.image }}  <a href="/product/download/{{ product.id }}" class="ml5mr5 font-weight-bold"> Download</a></span>
                                {% endif %}
                            </div>
                            <!-- /.user-block -->                            
                            {# <p>Description: {{ product.description }}</p>
                            <p>Price : {{ product.price }}</p> #}
                        </div>
                    </div>
                    <div></div>
                    <div class="row">
                        <div class="col-12">
                            <a href="{{ path('app_products') }}" class="btn btn-secondary font-weight-bold">Cancel</a>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->            
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
{% endblock %}